.banner-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.banner-container .banner{
  flex:1 1 40rem;
  height:25rem;
  border:.1rem solid rgba(0,0,0,.3);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  overflow: hidden;
  position: relative;
}

.banner-container .banner .content{

  position: absolute;
  top: 90%; left: 4%;
  transform: translateY(-50%);
  text-align: center;
}

.banner-container .banner img{
  height: 30%;
  width:20%;

  object-fit: contain;
  object-position: center;
}

.banner-container .banner .content span{
  color:#666;
  font-size:1.7rem;
}

.banner-container .banner .content h3{
  color:#333;
  font-size:3rem;
}

.banner-container .banner:hover img{
  transform: scale(1.6);
}

.banner-container .banner img{
  width: 50%;
  height: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}